<footer class="footer">
    <nav class="footer--nav">
        <ul>
            <li>Our Apps</li>
            <li><a href="/products/#private-text">TextSecure</a></li>
            <li><a href="/products/#private-calling">RedPhone</a></li>
            <li><a href="/products/#private-calendar">Flock</a></li>
            <li><a href="/products/#private-text">Signal (iOS)</a></li>
        </ul>
        <ul>
            <li>About Us</li>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Our Story</a></li>
            <li><a href="#">Encryption</a></li>
            <li><a href="#">Press</a></li>
        </ul>
        <ul>
            <li>Connect</li>
            <li><a href="#">Our Community</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="https://twitter.com/whispersystems">@whispersystems on Twitter</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
    <div class="footer--legal">
        &copy; 2011&#8211;{{ site.time | date: '%Y' }} Open Whisper Systems
    </div>
</footer><!-- site-footer -->