---
layout: root
title: Blog
body-class: "blog-listing"
---

<header class="view-header">
    <div class="view-header--content">
        <h1>{{ page.title }}</h1>
        <div class="rss-twitter">
            <a href="/blog/rss.xml" title="Subscribe via RSS" class="rss">
                <img src="{% asset_path icons/rss.svg %}"/>
            </a>
            <a href="https://twitter.com/whispersystems" title="Follow on Twitter" class="twitter">
                <img src="{% asset_path icons/twitter.svg %}"/>
            </a>
        </div>
    </div><!-- view-header-content -->
</header>

<div class="blog-listing">
    {% for post in site.posts %}
    <article>
        <div class="article-content">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p class="blog-post-meta">
                {% if post.author %}
                    {{ post.author }}
                {% endif %}
                &nbsp;&#8211;&nbsp;
                {{ post.date | date: "%B %-d, %Y" }}
            </p>
            {% if post.content contains '<!--more-->' %}
            	{{ post.content | split:'<!--more-->' | first }}
            	<p><a href="{{ post.url }}">Continue Reading...</a></p>
            {% else %}
            	{{ post.content }}
            {% endif %}
        </div><!-- article-content -->
    </article>
    {% endfor %}
</div><!-- blog-listing -->

{{ content }}

