/*
** Global Layout
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; // Improved Webkit Font Rendering
}

html {
    overflow-y: scroll; // Force Vertical Scrollbar
}

body {
    position: relative;
    font-family: $font-stack-bitter;
    font-weight: 400;
    background-color: $off-white;
}

h1,h2,h3,h4,h5 {
    font-family: $font-stack-lato;
    font-weight: 400;
}

h1 {
    padding-bottom: 2rem;
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight: 400;
}

h2 {
    padding: 3rem 0;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: $shale;
    font-weight: 700;
    letter-spacing: $letter-space-tight;
}

h3 {
    padding: 3rem 0 1.875rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: $charcoal;
}

p,
ul,
ol {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $copy;
}

a {
    color: $sky;
    text-decoration: none;
}

img {
    max-width: 100%;
}

pre,
code {
    font-family: $font-stack-mono;
}

code {
    line-height: 100%;
}

pre {
    @include border-radius(3px);
    margin-bottom: 1.5rem;
    padding: 2.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: $charcoal;
    color: $burlap;
}

// Site Header
.header {
    @include clearfix;
    background: white;
    box-shadow: 0 2px 0px rgba(0,0,0,0.2);
    .logo {
        float: left;
        display: block;
        margin: 2.25rem $grid-margin;
        a {
            display: block;
            width: 88px;
            overflow: hidden;
            img {
                display: block;
                max-width: none;
            }
        }
    }
    .nav-primary-toggle {
        @include transition(all, $link-transition-timing, ease-in-out);
        display: block;
        float: right;
        width: 48px;
        height: 48px;
        margin: 3.375rem $grid-margin $grid-margin;
        img {
            display: block;
            width: 48px;
        }
        &.nav-toggle-active {
            @include rotate(180);
        }
    }
    .nav-primary {
        @include clearfix;
        clear: both;
        display: none;
        background: $charcoal;
        ul {
            float: right;
            padding: $grid-margin $grid-margin 3rem;
            text-align: right;
            font-size: 1.125rem;
            line-height: 2.25rem;
            font-family: $font-stack-lato;
            font-weight: 700;
            text-transform: uppercase;
            li {
                display: block;
                margin-bottom: 1.5rem;
            }
            a {
                @include transition(color, $link-transition-timing, ease-in-out);
                position: relative;
                display: inline-block;
                padding: 0.75rem 0;
                color: $burlap;
                letter-spacing: $letter-space-wide;
                &:after {
                    @include transition(width, 0.15s, ease-in-out);
                    content: '';
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 1.875rem;
                    height: 0.125rem; // 2px
                    background-color: $sky;
                }
                &:hover {
                    color: white;
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    }
}


// Site Footer (Sticky)
.footer {
    @include container;
    background: lighten($charcoal, 10%);
    .footer--nav {
        @include row;
        padding-top: 2.5rem;
        ul {
            @include col;
            @include col-12;
            padding-bottom: $grid-margin;
            li {
                display: block;
                padding-bottom: 1.5rem;
                color: $sky;
                letter-spacing: $letter-space-wide;
                font-family: $font-stack-lato;
                font-weight: 700;
                text-transform: uppercase;
            }
            a {
                @include transition(color, $link-transition-timing, ease-in-out);
                color: $burlap;
                font-size: 0.9375rem;
                line-height: 1.125rem;
                letter-spacing: 0;
                font-family: $font-stack-bitter;
                font-weight: 400;
                text-transform: none;
                &:hover {
                    color: white;
                }
            }
        }
    }
    .footer--legal {
        @include row;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        background-color: $charcoal;
        text-align: center;
        color: $burlap;
        font-size: 0.875rem;
        line-height: 1rem;
        letter-spacing: $letter-space-medium;
        font-family: $font-stack-lato;
        font-weight: 700;
        text-transform: uppercase;
    }
}