/*
** Global Layout
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; // Improved Webkit Font Rendering
}

html {
    overflow-y: scroll; // Force Vertical Scrollbar
}

body {
    font-family: $font-stack-bitter;
    font-weight: 400;
    background-color: $off-white;
}

a {
    color: $sky;
    text-decoration: none;
}

img {
    max-width: 100%;
}

// Site Header
.header {
    @include clear;
    background: white;
    box-shadow: 0 2px 0px rgba(0,0,0,0.2);
    .logo {
        float: left;
        margin: 2.5rem;
        a {
            display: block;
            width: 110px;
            overflow: hidden;
            img {
                max-width: none;
            }
        }
    }
    .nav-primary-toggle {
        @include transition(all, $link-transition-timing, ease-in-out);
        display: block;
        float: right;
        width: 32px;
        height: 110px;
        margin: 2.5rem;
        img {
            display: block;
            padding-top: 2.75rem;
        }
        &.nav-toggle-active {
            @include rotate(180);
        }
    }
    .nav-primary {
        @include clear;
        clear: both;
        display: none;
        background: $charcoal;
        ul {
            float: right;
            padding: 3.75rem 2.5rem 7.5rem 2.5rem;
            text-align: right;
            font-size: 1.875rem;
            line-height: 2.25rem;
            font-family: $font-stack-lato;
            font-weight: 700;
            text-transform: uppercase;
            li {
                display: block;
                margin-bottom: 2rem;
            }
            a {
                @include transition(color, $link-transition-timing, ease-in-out);
                position: relative;
                display: inline-block;
                padding: 1.5rem 0;
                color: $burlap;
                letter-spacing: 0.0625rem; // 1px
                &:after {
                    @include transition(width, 0.15s, ease-in-out);
                    content: '';
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 1.875rem;
                    height: 0.125rem; // 2px
                    background-color: $sky;
                }
                &:hover {
                    color: white;
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    }    
    .mobile-nav-toggle {
        display: block;
        position: relative;
        float: right;
        width: 50px;
        height: 50px;
        margin-top: 1.5rem;
        img {
            max-width: 32px;
        }
    }
}


// Site Footer (Sticky)
.footer {
    background: lighten($charcoal, 10%);
    .footer--nav {
        padding: 2.5rem 2.5rem 0;
        ul {
            padding-bottom: 2.5rem;
            li {
                display: block;
                padding-bottom: 1.5rem;
                color: $sky;
                letter-spacing: 0.125rem; // 2px
                font-family: $font-stack-lato;
                font-weight: 700;
                text-transform: uppercase;
            }
            a {
                @include transition(color, $link-transition-timing, ease-in-out);
                color: $burlap;
                font-size: 0.9375rem;
                line-height: 1.125rem;
                letter-spacing: 0;
                font-family: $font-stack-bitter;
                font-weight: 400;
                text-transform: none;
                &:hover {
                    color: white;
                }
            }
        }
    }
    .footer--legal {
        padding: 1.5rem 2.5rem;
        background-color: $charcoal;
        text-align: center;
        color: $burlap;
        font-size: 0.875rem;
        line-height: 1rem;
        letter-spacing: 0.0625rem;
        font-family: $font-stack-lato;
        font-weight: 700;
        text-transform: uppercase;
    }
}