/*
** Page-Specific Styles
*/

// Homepage
.home-hero {
    position: relative;
    background-color: $burlap;
    &:after {
        content: '';
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background-color: rgba(40,40,40,0.6);
    }
    video {
        z-index: -2;
        display: block;
        width: 100%;
        max-width: 100%;
        background-color: $burlap;
    }
    .home-hero--content {
        z-index: 1;
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        margin: 12% 5% 0;
        text-align: center;
    }
    h1 {
        font-size: 1.875rem;
        line-height: 2.25rem;
        color: white;
    }
    .button {
        border-color: rgba(255,255,255,0.7);
        &:hover {
            color: $charcoal;
            background-color: rgba(255,255,255,0.8);
            border-color: rgba(255,255,255,0);
        }
    }
}

.home-testimonials {
    @include container;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $off-white;
    .row {
        @include row;
    }
    h2 {
        @include col;
        @include col-12;
        text-align: center;
        padding: 0;
        margin-bottom: 2.25rem;
    }
    .testimonial {
        @include col;
        @include col-12;
        margin-bottom: $margin-width;
    }
    blockquote {
        @include border-radius(4px);
        position: relative;
        margin-bottom: 1.5rem;
        box-shadow: 0px 2px 2px #e4e4e4;
        background-color: white;
        font-size: 0.875rem;
        line-height: 1.125rem;
        font-family: $font-stack-bitter;
        color: $shale;
        font-style: italic;
        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            width: 0;
            height: 0.75rem;
            margin-left: -0.75rem;
            border-width: 0.75rem 0.75rem 0;
            border-color: white transparent;
            border-style: solid;
        }
        p {
            min-height: 7rem;
            padding: 1.5rem;
            border-bottom: 1px solid $off-white;
            &:before {
                content: '\201C';
            }
            &:after {
                content: '\201D';
            }
        }
        cite {
            display: block;
            padding: 0.75rem 1.5rem 1rem;
            line-height: 1.125rem;
            text-align: center;
            span {
                display: block;
                margin-bottom: 0.25rem;
                font-weight: 700;
                color: $sky;
            }
        }
    }
    .testimonial--photo {
        @include border-radius(108px);
        display: block;
        overflow: hidden;
        width: 108px;
        height: 108px;
        margin: 0 auto;
        border: 2px solid $charcoal;
        img {
            max-width: auto;
        }
    }
}

// View Headers
.view-header {
    background: $charcoal;
}

.view-products .view-header {
    background: $charcoal url(asset_path('view-headers/header-products.jpg')) no-repeat center top;
    background-size: cover;
}

.view-blog-listing .view-header {
    background: $charcoal url(asset_path('view-headers/header-blog.jpg')) no-repeat center top;
    background-size: cover;
    .rss-twitter {
        @include clearfix;
        position: absolute;
        bottom: 0;
        left: $gutter-width; right: $gutter-width;
        padding: 1.125rem 0;
        a {
            @include transition(opacity, $link-transition-timing, ease-in-out);
            display: inline-block;
            float: left;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
            &.twitter {
                float: right;
            }
            img {
                display: inline-block;
            }
        }
    }
}

// Products
.product {
    @include container;
    padding-top: $margin-width;
    padding-bottom: $margin-width;
    &.product-odd {
        background-color: $sand;
    }
    .row {
        @include row;
    }
    .product--devices {
        display: none;
    }
    .product--details {
        @include col;
        @include col-12;
        h2 {
            padding: 2.25rem 0 1.5rem;
            font-size: 2rem;
            line-height: 2.25rem;
            color: $shale;
        }
        p {
            margin-bottom: 1.5rem;
            font-size: 1.125rem;
            line-height: 1.5rem;
            color: $copy;
        }
    }
    .product-links {
        @include row;
        padding-top: 2.25rem;
        a,
        .product-link--inactive {
            @include col;
            @include col-12;
            margin-bottom: 1.875rem;
            text-align: center;
            img,
            span {
                display: block;
                margin: 0 auto;
            }
            img {
                margin-bottom: 1.5rem;
            }
            .logo-desktop {
                display: none;
            }
        }
        .product-link--inactive {
            opacity: 0.3;
        }
    }
}

// General Blog Styles
.view-blog-listing,
.view-blog-post {
    article {
        ul,
        ol {
            padding-left: 1.5rem;
            list-style-position: outside;
            li {
                padding: 0 0 0.75rem 0.25rem;
            }
        }
        ul {
            list-style-type: circle;    
        }
        ol {
            list-style-type: decimal;
        }
        blockquote {
            p {
                padding: 0.75rem 1.875rem;
                border-left: 2px solid $burlap;
                font-style: italic;
            }
        }
        p img {
            border: 1px solid rgba(255,255,255,0.1);
            box-shadow: 0px 0px 3px rgba(40,40,40,0.2);
        }
    }
}

// Blog Listing
.view-blog-listing {
    .blog-listing {
        @include container;
        margin-bottom: $margin-width;
    }
    article {
        @include row;
        margin-bottom: $margin-width;
        padding-top: $margin-width;
        border-top: 1px solid lighten($burlap, 10%);
        &:first-of-type {
            border-top: none;
        }
        .article-content {
            @include col;
            @include col-12;
        }
        h2 {
            padding: 0.75rem 0 0.375rem;
            font-size: 1.875rem;
            line-height: 2.25rem;
            letter-spacing: $letter-space-tight;
            color: $shale;
            a {
                @include transition(color, $link-transition-timing, ease-in-out);
            }
            a:hover {
                color: $charcoal;
            }
        }
        .blog-post-meta {
            margin-bottom: 1.875rem;
            font-family: $font-stack-lato;
            font-weight: 700;
            color: lighten($shale, 40%);
        }
        p,ul,ol {
            margin-bottom: 1.5rem;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $copy;
            a {
                @include transition(all, $link-transition-timing, ease-in-out);
                border-bottom: 2px solid lighten($sky, 30%);
                color: $copy;
                &:hover {
                    border-color: $sky;
                    color: $sky;
                }
                &:focus,
                &:active {
                    background-color: $sky;
                    color: white;
                }
            }
        }
    }
}

// Blog Post
.view-blog-post {
    .main-content {
        @include container;
    }
    article {
        @include row;
        position: relative;
        header,
        .article-content {
            @include col;
            @include col-12;
        }
        header {
            position: relative;
            margin-bottom: 3rem;
            padding-top: 3rem;
            padding-bottom: 3rem;
            border-bottom: 1px solid $burlap;
            text-align: center;
            .blog-main,
            .share {
                display: block;
                position: absolute;
                bottom: 1.125rem;
                font-family: $font-stack-lato;
                img {
                    width: 1.5rem;
                }
            }
            .blog-main {
                left: 1.125rem;
            }
            .share {
                right: 1.125rem;
            }
            div {
                margin: 0;
                font-family: $font-stack-lato;
                color: lighten($shale, 20%);
            }
            .blog-social-links {
                @include border-radius(0 0 4px 4px);
                display: none;
                z-index: 1;
                position: absolute;
                top: 100%;
                right: 0;
                padding: 0.75rem 1.5rem;
                box-shadow: 0px 1px 2px rgba(0,0,0,0.125);
                list-style: none;
                background: rgba(255,255,255,0.95);
                border: 1px solid $burlap;
                text-align: left;
                font-size: 0.75rem;
                font-family: $font-stack-lato;
                font-weight: 700;
                text-transform: uppercase;
                li {
                    padding: 0;
                    &:first-child {
                        margin-bottom: 0.75rem;
                    }
                }
            }
        }
        footer {
            a {
                display: block;
                width: 50%;
                float: left;
                padding: 1.875rem 0 2.25rem;
                border-top: 1px solid $shale;
                span {
                    @include transition(all, $link-transition-timing, ease-in-out);
                    display: block;
                    margin-bottom: 0.375rem;
                    font-size: 0.75rem;
                    line-height: 1;
                    font-weight: 700;
                    letter-spacing: $letter-space-medium;
                    font-family: $font-stack-lato;
                    text-transform: uppercase;
                    color: lighten($shale, 45%);
                }
                div {
                    font-style: italic;
                }
                &.prev {
                    padding-right: 0.75rem;
                }
                &.next {
                    padding-left: 0.75rem;
                    float: right;
                    text-align: right;
                }
                &:hover span {
                    color: $charcoal;
                }
            }
        }
        h1 {
            padding-bottom: 1.125rem;
            font-size: 1.875rem;
            line-height: 2.25rem;
            letter-spacing: $letter-space-tight;
            color: $shale;
        }
        p,ul,ol {
            margin-bottom: 1.5rem;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $copy;
            a {
                @include transition(all, $link-transition-timing, ease-in-out);
                border-bottom: 2px solid lighten($sky, 30%);
                &:hover {
                    border-color: $sky;
                    color: $charcoal;
                }
                &:focus,
                &:active {
                    background-color: $sky;
                    color: white;
                }
            }
        }
    }
}