/*
** Responsive Styles
** Progressive Enhancements from Mobile-First Layout
*/

// Handheld / Hi DPI Phones
@media all and (min-width: 640px) {
    // Layout
    .header .logo a {
        width: auto;
    }
    // Page-Specific
    .home-hero {
        .home-hero--content {
            margin: 14% 5%;
        }
        h1 {
            font-size: 2.625rem;
            line-height: 3rem;
        }
    }
}

// Lap / Tablet
@media all and (min-width: 820px) {
    // Layout
    .footer .footer--nav ul {
        @include col-4;
    }
    // Page-Specific
    .home-hero h1 {
        font-size: 2.625rem;
        line-height: 3rem;
    }
    .home-testimonials .testimonial {
        @include col-4;
        margin-bottom: 0;
    }
}


// Desktop / Laptop
@media all and (min-width: 1024px) {
    
}

// Monitor / Full Display
@media all and (min-width: 1280px) {

}