/*
** Responsive Styles
** Progressive Enhancements from Mobile-First Layout
*/

// Handheld / Hi DPI Phones
@media all and (min-width: 640px) {
    // Layout
    .header .logo a {
        width: auto;
    }
    // Page-Specific
    .home-hero {
        .home-hero--content {
            margin: 14% 5%;
        }
        h1 {
            font-size: 2.625rem;
            line-height: 3rem;
        }
    }
}

// Lap / Tablet
@media all and (min-width: 820px) {
    // Layout
    .footer .footer--nav ul {
        @include col-4;
    }
    // Page-Specific
    .home-hero h1 {
        font-size: 2.625rem;
        line-height: 3rem;
    }
    .home-testimonials .testimonial {
        @include col-4;
        margin-bottom: 0;
    }
    // Blog Post
    .view-blog-post {
        article {
            header,
            .article-content,
            footer {
                @include col-10;
                @include col-center;
            }
            h1 {
                font-size: 2.625rem;
                line-height: 3rem;
            }
            p,ul,ol {
                margin-bottom: 1.875rem;
                font-size: 1.125rem;
                line-height: 1.875rem;
            }
            footer a {
                padding: 2.625rem 0 3rem;
            }
        }
    }
}


// Desktop / Laptop
@media all and (min-width: 1024px) {
    // Page-Specific
    .view-blog-listing {
        article .article-content {
            @include col-8;
            @include col-center;
        }
    }
    .view-blog-post {
        article {
            header {
                @include col-9;
            }
            .article-content,
            footer {
                @include col-8;
            }
            h1 {
                padding-bottom: 1.125rem;
                font-size: 3rem;
                line-height: 3.75rem;
                letter-spacing: $letter-space-tight;
                color: $shale;
            }
            p,ul,ol {
                margin-bottom: 1.875rem;
                font-size: 1.125rem;
                line-height: 1.875rem;
                color: $copy;
            }
            footer a {
                font-size: 1.125rem;
                span {
                    font-size: 0.875rem;
                }
            }
        }
    }
}

// Monitor / Full Display
@media all and (min-width: 1280px) {

}