/*
** Utilities / Mixins
*/

// Clearfix
@mixin clearfix {
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
      clear: both;
    }
}

// Grid Mixins (for semantic markup & fluid grid)
@mixin container {
    padding-left: $margin-width;
    padding-right: $margin-width;
    margin-left: auto;
    margin-right: auto;
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
      clear: both;
    }
}

@mixin row {
    margin-left: -$margin-width;
    margin-right: -$margin-width;
    padding-left: $gutter-width;
    padding-right: $gutter-width;
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
      clear: both;
    }
}

@mixin col {
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: $gutter-width;
    padding-right: $gutter-width;
}

@mixin col-12 {
    width: 100%;
}

@mixin col-10 {
    width: 83.33333333%;
}

@mixin col-9 {
    width: 75%;
}

@mixin col-8 {
    width: 66.66666667%;
}

@mixin col-6 {
    width: 50%;
}

@mixin col-4 {
    width: 33.33333333%;
}

@mixin col-3 {
    width: 25%;
}

@mixin col-center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}




// CSS3 Mixins

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

// Transforms

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

@mixin scale($scale) {
    @include transform(scale($scale));
} 