/*
** Global Variables
*/

// Grid
$gutter-width: 2.5rem;

// Font Stacks / Weights
$font-stack-lato: "Lato", "Liberation Sans", "Helvetica Neue", "Helvetica", "Open Sans", "Arial", sans-serif;
$font-stack-bitter: "Bitter", "Lucida Serif", "Lucida", "Liberation Serif", "Georgia", serif;

// Colors
$charcoal:            #1b1b1b;
$sky:                 #2090ea;
$shale:               #434343;
$burlap:              #bcb9b0;
$off-white:           #f1f1f1;

// Text Colors
$headlines:           $charcoal;
$copy:                $shale;
$copy-light:          lighten($shale, 30%);

// Transition Timing
$link-transition-timing:            0.3s;
$button-transition-timing:          0.5s;