<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ page.title }} | Open Whisper Systems</title>
    <meta name="description" content="">
    
    <!-- Favorites Icon -->
    <link rel="shortcut icon" href="{% asset_path header/favicon.ico %}" type="image/x-icon">
    <link rel="icon" href="{% asset_path header/favicon.ico %}" type="image/x-icon">
    
    <!-- App Store Smart Banner - Signal for iOS -->
    {% if page.smartbanner == true %}
    <meta name="apple-itunes-app" content="app-id=874139669">
    {% endif %}
    
    <!-- Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@whispersystems">
    <meta name="twitter:creator" content="@moxie">
    <meta name="twitter:url" content="https://www.whispersystems.org{{ page.url }}">
    <meta name="twitter:title" content="{{ title_parts[1] }}">
    <meta name="twitter:description" content="{{ content_parts.first | markdownify | strip_html }}">
    <meta name="twitter:image" content="https://www.whispersystems.org{{ page.image }}" />
    
    <!-- Stylesheets -->
    {% stylesheet reset %}
    {% stylesheet main %}

  </head>

  <body>
      
      {{ content }}

      <!-- JS after vital HTML elements -->
      {% javascript main %}
      
      <!-- Clicky Analytics -->
      <script>
        var clicky_site_ids = clicky_site_ids || [];
        clicky_site_ids.push(100570585);
        (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//static.getclicky.com/js';
        ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
        })();
      </script>
      <noscript><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100570585ns.gif" /></noscript>

  </body>
</html>
