<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ page.title }} | Open Whisper Systems</title>
    <meta name="description" content="">
    
    <!-- Favorites Icon -->
    <!-- <link rel="shortcut icon" href="" type="image/x-icon"> -->
    <!-- <link rel="icon" href="" type="image/x-icon"> -->
    
    <!-- App Store Smart Banner - Signal for iOS -->
    <meta name="apple-itunes-app" content="app-id=874139669">
    
    <!-- Twitter Card Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@whispersystems">
    <meta name="twitter:creator" content="@moxie">
    <meta name="twitter:url" content="https://www.whispersystems.org{{ page.url }}">
    <meta name="twitter:title" content="Title">
    <meta name="twitter:description" content="Description">
    <meta name="twitter:image" content="https://www.whispersystems.org{{ page.image }}" />
    
    <!-- Stylesheets -->
    {% stylesheet reset %}
    {% stylesheet main %}
    
    <!-- JS -->
    {% javascript vendor/jquery-1.8.3.min %}
    {% javascript main %}

  </head>

  <body>
  
      <header class="header">
          <div class="logo">
              <a href="/"><img src="{% asset_path header/whispersystems.png %}"/></a>
          </div>
          <a href="#" id="nav-primary-toggle" class="nav-primary-toggle">
              <img src="{% asset_path header/nav-menu-arrow.svg %}"/>
          </a>
          <nav id="nav-primary" class="nav-primary">
              <ul>
                  <li><a href="/products/">Products</a></li>
                  <li><a href="/about/">About</a></li>
                  <li><a href="/community/">Community</a></li>
                  <li><a href="/news/">News</a></li>
                  <li><a href="http://support.whispersystems.org/">Support</a></li>
              </ul>
          </nav>
      </header>
      
      {{ content }}
      
      <!-- Clicky Analytics -->
      <script>
        var clicky_site_ids = clicky_site_ids || [];
        clicky_site_ids.push(100570585);
        (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//static.getclicky.com/js';
        ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
        })();
      </script>
      <noscript><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100570585ns.gif" /></noscript>

  </body>
</html>
